<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="mydbEntities" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=;persistsecurityinfo=True;database=mydb&quot;" providerName="System.Data.EntityClient" />
    <add name="cultura_musicalEntities" connectionString="metadata=res://*/Database.Entity.Model1.csdl|res://*/Database.Entity.Model1.ssdl|res://*/Database.Entity.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=MYSQL5022.site4now.net;user id=db_a4f9ad_stormpr;password=;persistsecurityinfo=True;database=cultura_musical&quot;" providerName="System.Data.EntityClient" />
    <add name="mydbEntities1" connectionString="metadata=res://*/Database.Entity.Model1.csdl|res://*/Database.Entity.Model1.ssdl|res://*/Database.Entity.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=mydb&quot;" providerName="System.Data.EntityClient" />
    <add name="mydbEntities2" connectionString="metadata=res://*/Database.Entity.Model1.csdl|res://*/Database.Entity.Model1.ssdl|res://*/Database.Entity.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=;persistsecurityinfo=False;database=mydb&quot;" providerName="System.Data.EntityClient" />
    <add name="mydbEntities3" connectionString="metadata=&quot;res://*/Database.Entity.Entity Database.csdl|res://*/Database.Entity.Entity Database.ssdl|res://*/Database.Entity.Entity Database.msl&quot;;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=root;server=localhost;database=mydb&quot;" providerName="System.Data.EntityClient" />
    <add name="culturamusicalEntities" connectionString="metadata=res://*/Database.Entity.Model1.csdl|res://*/Database.Entity.Model1.ssdl|res://*/Database.Entity.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=culturamusical&quot;" providerName="System.Data.EntityClient" />
    <add name="db_a4f9ad_stormprEntities" connectionString="metadata=res://*/Database.Entity.BancoOnline.csdl|res://*/Database.Entity.BancoOnline.ssdl|res://*/Database.Entity.BancoOnline.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql5022.site4now.net;user id=a4f9ad_stormpr;password=tempestade123;database=db_a4f9ad_stormpr&quot;" providerName="System.Data.EntityClient" />
    <add name="db_a4f9ad_stormprEntities1" connectionString="metadata=res://*/Database.Entity.BancoLocal.csdl|res://*/Database.Entity.BancoLocal.ssdl|res://*/Database.Entity.BancoLocal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=culturamusical&quot;" providerName="System.Data.EntityClient" />
    <add name="db_a4f9ad_stormprEntities2" connectionString="metadata=res://*/Database.Entity.BancoLocal.csdl|res://*/Database.Entity.BancoLocal.ssdl|res://*/Database.Entity.BancoLocal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=db_a4f9ad_stormpr&quot;" providerName="System.Data.EntityClient" />
    <add name="db_a4f9ad_stormprEntities3" connectionString="metadata=res://*/Database.Entity.BancoOnline.csdl|res://*/Database.Entity.BancoOnline.ssdl|res://*/Database.Entity.BancoOnline.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql5022.site4now.net;user id=a4f9ad_stormpr;password=tempestade123;database=db_a4f9ad_stormpr&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.WebSockets.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.WebSockets" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>